<div class="plant-box">
  <h2>
    <a href="/gardens/<%= garden._id %>/plants/<%= category %>">
      <%= categoryTitle %>
    </a>
  </h2>
  <div class="add-plant-button">
    <form action="/gardens/<%= garden._id %>/plants/new" method="GET">
        <button >ADD PLANT</button>
    </form>
  </div> 

  <div class="plant-box">
  <% if (plants.length > 0) { %> 
    <ul>
      <!-- plants will be added here -->
      <% plants.forEach(plant => { %>
        <% if (plant.category == category) { %>
          <li>
            <strong></strong> <img src="<%= plant.imagePath %>" alt="Plant Image" class="plant-image">
          </li>
          
          <li>
            <strong>Category:</strong> <%= plant.category %>
                <!-- Dropdown menu for category -->
          </li>
          <li>
            <strong>Name:</strong> <%= plant.name %>
          </li>
          <li>
            <strong>Lifecycle:</strong> <%= plant.lifeCycle %>
                <!-- dropdown menu for category -->     
          </li>
          <br>
          <!-- Delete button -->
          <form action="/gardens/<%= garden._id %>/plants/<%= plant._id %>?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="plant-delete-button">X</button>
          </form>
        <% } %>
      <% }); %>
    </ul>
  <% } %>
</div>

