<%- include('../partials/header') %>
<div class="add-garden-button">
    <button onclick="location.href='/add-garden';">ADD GARDEN</button>
</div>

<div class = "gardens">
    <% for (let i=0; i < gardens.length; i++) { %>
        <div id="garden<%= i %>"> 
            <a href = "gardens/<%= gardens[i].id %>">
                <img src="<%= gardens[i].imagePath %>"/>
                <%= gardens[i].name %>
            </a>
            <form method="POST" action="/gardens/<%= gardens[i].id %>?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="delete-button" >DELETE</button>
            </form>
        </div>
    <% } %>
</div>



<%- include('../partials/footer') %>