<%- include('../partials/header') %>

<div class="menu">
    <a href = "homepage">HOME</a>
    <a href = "/gardens">GARDENS</a>  
</div>

<div>
<button onclick="location.href='/add-garden';">ADD GARDEN</button>
</div>

<div class = "gardens">
    <% for (let i=0; i < gardens.length; i++) { %>
        <div id="garden<%= i %>"> 
            <a href = "gardens/<%= gardens[i].id %>">
                <img src="<%= gardens[i].imagePath %>"/>
                <%= gardens[i].name %>
            </a>
        </div>
    <% } %>
</div>



<%- include('../partials/footer') %>