

<%- include('../partials/header') %>
<div class="add-plant-button">
    <form action="/gardens/<%= garden._id %>/plants/new" method="GET">
        <button >ADD PLANT</button>
    </form>
</div>


<h1><%= garden.name %></h1>
<p>Year Founded: <%= garden.yearFounded %></p>
<p>Address: <%= garden.address %></p>
<img src="<%= garden.imagePath %>" alt="<%= garden.name %>" class="garden-show-page__image">
    <h2>
        <a href="/gardens/<%= garden._id %>/plants/vegetable">
            Vegetables
        </a>
    </h2>
    <h2>
        <a href="/gardens/<%= garden._id %>/plants/herb">
            Herbs
        </a>
    </h2>
    <h2>
        <a href="/gardens/<%= garden._id %>/plants/fruit">
            Fruits
        </a>
    </h2>
    <h2>
        <a href="/gardens/<%= garden._id %>/plants/flower">
            Flowers
        </a>
    </h2>
</div>

<h2>Volunteer Sign-Up</h2>
<ul id="volunteer-list">
    <!-- Volunteers will be added here -->
    <ul>
        <%volunteers.forEach(volunteer => { %>
    <li class="volunteer-item">
        <li class="volunteer-item">
            <span class="item-label">Name:</span> <span class="item-value"><%= volunteer.name %></span><br>
            <span class="item-label">Date:</span> <span class="item-value"><%= volunteer.date %></span><br>
            <span class="item-label">Time From:</span> <span class="item-value"><%= volunteer.timeFrom %></span><br>
            <span class="item-label">Time To:</span> <span class="item-value"><%= volunteer.timeTo %></span><br>


          <!-- <li>Name: <%= volunteer.name %></li>
          <li>Date: <%= volunteer.date %></li>
          <li>Time From: <%= volunteer.timeFrom %></li>
          <li>Time To: <%= volunteer.timeTo %></li>
          <br> -->
          <!-- Delete button -->
          <form action="/gardens/<%= garden._id %>/volunteers/<%= volunteer._id %>?_method=delete" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">X</button>
        </form>
    </li>
        <% }); %>
    </ul>



 <!-- Add a form for adding a new volunteer -->
<form id="add-volunteer-form" action="/gardens/<%= garden._id %>/volunteers" method="POST">
    <!-- Only post to garden currently viewing -->
    <input type="hidden" name="gardenId" value="<%= garden._id %>">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Date:</label>
    <input type="date" name="date">
    <label>From:</label>
    <input type="time" name="timeFrom">
    <label>To:</label>
    <input type="time" name="timeTo">
    <input type="submit" value="Add Volunteer">
  </form>


    


<%- include('../partials/footer') %>