

<%- include('../partials/header') %>
<div class="menu">
    <a href = "homepage">HOME</a>
    <a href = "/gardens">GARDENS</a>  
</div>
 
</div>
<div class="add-plant-button">
    <button onclick="location.href='/plants/new';">ADD PLANT</button>
    </div>
<script>
//click event listener for the "ADD PLANT" button
document.getElementById("add-plant-button").addEventListener("click", function() {
    //navigate to the new plant form page
    window.location.href = "/plants/new";
});
</script>


<h1><%= garden.name %></h1>
<p>Year Founded: <%= garden.yearFounded %></p>
<p>Address: <%= garden.address %></p>
<img src="<%= garden.imagePath %>" alt="<%= garden.name %>" class="garden-show-page__image">

<div class="plants">
    <h2>Vegetables</h2>
        <div class="plant-box">
            <ul class= plantList id="vegetableList">
            <!-- vegetable plants added here -->
             </ul>
         </div>
    <h2>Herbs</h2>
        <div class="plant-box">
            <ul class= plantList id="herbList">
            <!-- herb plants added here -->
            </ul>
        </div>

    <h2>Fruits</h2>
        <div class="plant-box">
            <ul class= plantList id="fruitList">
            <!-- fruit list added here -->
             </ul>
         </div>

    <h2>Flowers</h2>
        <div class="plant-box">
            <ul class= plantList id="flowerList">
            <!-- flower list added here -->
            </ul>
        </div>
</div>

<h2>Volunteer Sign-Up</h2>
<ul id="volunteer-list">
    <ul>
        <%volunteers.forEach(volunteer => { %>
          <li>Name: <%= volunteer.name %></li>
          <li>Date: <%= volunteer.date %></li>
          <li>Time From: <%= volunteer.timeFrom %></li>
          <li>Time To: <%= volunteer.timeTo %></li>
          <br>
        <% }); %>
    <!-- Volunteers will be added here -->

</ul>

 <!-- Add a form for adding a new volunteer -->
<form id="add-volunteer-form" action="/gardens/<%= garden._id %>/volunteers" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Date:</label>
    <input type="date" name="date">
    <label>From:</label>
    <input type="time" name="timeFrom">
    <label>To:</label>
    <input type="time" name="timeTo">
    <input type="submit" value="Add Volunteer">
  </form>


    


<%- include('../partials/footer') %>