<%- include('../partials/header') %>

<h1><%= garden.name %></h1>
<p>Year Founded: <%= garden.yearFounded %></p>
<p>Address: <%= garden.address %></p>
<!-- <img src="<%= garden.imagePath %>" alt="<%= garden.name %> Image"> -->
<img src="<%= garden.imagePath %>" alt="<%= garden.name %>" class="garden-show-page__image">

<div class="plants">
    <div class="plant-header">
        <h2>Vegetables</h2>
    </div>
    <div class="plant-box"></div>
        <ul class= plantList id="vegetableList">
        <!-- vegetable plants added here -->
        </ul>
    </div>

    <div class="plant-header">
        <h2>Herbs</h2>
    </div>
    <div class="plant-box">
        <ul class= plantList id="herbList">
        <!-- herb plants added here -->
         </ul>
    </div>

    <div class="plant-header">
        <h2>Fruits</h2>
    </div>
    <div class="plant-box"></div>
         <ul class= plantList id="fruitList">
         <!-- flower list added here -->
         <li>tomato</li>
         <form action="/add-vegetable" method="POST">
            <input></input><button>add</button>
         </form>
        </ul>
    </div>

    <div class="plant-header">
        <h2>Flowers</h2>
    </div>
    <div class="plant-box">
        <ul class= plantList id="flowerList">
        <!-- flower list added here -->
        </ul>
    </div>
</div>


<%- include('../partials/footer') %>